body {
    background-image: url('../images/fondo.png'); /* Cambia a una imagen que se adapte a tu tema */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    color: white;
}

.logo {
    max-width: 120px;
    margin-bottom: 1rem;
}

.form-control {
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

    .form-control::placeholder {
        color: #bdbdbd;
    }

.btn-custom {
    background-color: #f1c40f;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
}

    .btn-custom:hover {
        background-color: #e1b60e;
    }

.text-center a {
    color: #f1c40f;
}

    .text-center a:hover {
        text-decoration: underline;
    }

.alert {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.75rem;
}
